/* GIROK pattern: toolbar */
@scope (.vds-pattern-girok-toolbar) {
  :scope {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-block-size: var(--vds-exp-girok-toolbar-min-height);
    gap: var(--vds-exp-girok-toolbar-gap);
    padding: var(--vds-exp-girok-toolbar-padding-block) var(--vds-exp-girok-toolbar-padding-inline);
  }
}
